<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <meta charset="UTF-8">
    <title class="iconfont">淘米当</title>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/Goods.css"/>
</head>
<body>
<div class="top-navbar">
    <ul class="nav">
        <a href="index">首页 <span>|</span> </a>
        <a href="sell"><span>发布闲置</span> <span>|</span> </a>
        <a th:href="profile" id="personal_center" ><span th:text="${session.user!=null?session.user.nickname:'个人中心'}"></span> <span> |</span> </a>

    </ul>
    <div class="cart">
        <a href="Cart" id="cart"><span class="iconfont">&#xe615;</span> 购物车（0）</a>
        <a href="order"> | 订单管理 </a>

    </div>
</div>
<div class="search">

    <input class="search-input" type="" name="" value="" id="search"/>
    <input class="search-btn" id="search-button" type="button" name="" value="搜索"/>
</div>
<div class="page-nav">
    <a href="Cart" class="iconfont" id="cart">&#xe615;购物车<span>0</span></a>
    <a href="order" class="order">订单管理</a>
</div>
<i class="divide"></i>
<div class="container">
    <ul class="goods-ul" id="Goods">
        <li class="goods-item" th:each="g:${session.goods}">
            <a th:onclick="GoodXq([[${g.idGood}]])"><img th:src="${g.img}"/></a>
            <div class="goods-message">
                <p class="descrition" th:text="${g.description}"></p>
                <span class="price" th:text="${g.price}"></span>
                <p class="author" th:text="${g.author}"></p>
                <a class="add-cart" href="">加入购物车</a>
                <a class="collect" href="">收藏</a>
            </div>
        </li>
    </ul>
</div>
</body>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/index.js"></script>
<!--<script src="js/Goods.js"></script>-->
<script>
    function GoodXq(id) {
        $.ajax({
            url: "/good/getGood",
            dataType: "json",
            data:{goodid:id},
            success: function () {
                //alert("测试");
                $(location).attr('href', '/Goodsinfo');
            },
            error:function () {
                alert("加载失败");
            }
        });
    }
    function addCar(id)  {
        $.ajax({
            url:"/good/Cart",
            data:{goodid:id},
            dataType:"text",
            type:"POST",
            success:function (res) {
                if (res==1){
                    alert("添加成功");
                }
                else {
                    alert("请先登录");
                    setInterval(function () {
                        $(location).attr('href', '/login');
                    }, 1000)
                }
            },
            error:function () {
                alert("添加失败");
            }

        });
    };
    function addSave(id)  {
        $.ajax({
            url:"/good/Save",
            data:{goodid:id},
            dataType:"text",
            type:"POST",
            success:function (res) {
                if (res==1){
                    alert("添加成功");
                }
                else {
                    alert("请先登录");
                    setInterval(function () {
                        $(location).attr('href', '/login');
                    }, 1000)
                }
            },
            error:function () {
                alert("添加失败");
            }

        });
    };
</script>
</html>
