<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title class="iconfont">淘米当</title>
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/Goods.css"/>
	</head>
	<body>
		<div class="top-navbar">
			<ul class="nav">
				<a href="index.html">首页 <span>|</span> </a>
				<a href="">发布闲置 <span>|</span> </a>
				<a href="">个人中心 <span>|</span> </a>
				
			</ul>
			<div class="cart">
				<a href=""  id="cart"><span class="iconfont" >&#xe615;</span>  购物车（0）</a>
				<a href=""> | 订单管理 </a>
				
			</div>
		</div>
		<div class="search">
			
			<input class="search-input" type="" name="" id="" value="" />
			<input class="search-btn"  type="submit" name="" id="" value="搜索" />
		</div>
		<div class="page-nav">
			<a href="" class="iconfont" id="cart">&#xe615;购物车<span>0</span></a>
			<a href="" class="order">订单管理</a>
		</div>
		<i class="divide"></i>
		<div class="container">
			<ul class="goods-ul">
				<li class="goods-item">
					<a href=""><img src="img/goods1.jpg.jfif"/></a>
					<div class="goods-message">
						<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
					<span class="price">￥72.80元</span>
					<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社</p>
					<a class="add-cart" href="">加入购物车</a>
					<a class="collect" href="">收藏</a>
					</div>
					
				</li>
				<li class="goods-item">
					<a href=""><img src="img/goods1.jpg.jfif"/></a>
					<div class="goods-message">
						<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
					<span class="price">￥72.80元</span>
					<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社</p>
					<a class="add-cart" href="">加入购物车</a>
					<a class="collect" href="">收藏</a>
					</div>
					
				</li>
					<li class="goods-item">
					<a href=""><img src="img/goods1.jpg.jfif"/></a>
					<div class="goods-message">
						<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
					<span class="price">￥72.80元</span>
					<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社</p>
					<a class="add-cart" href="">加入购物车</a>
					<a class="collect" href="">收藏</a>
					</div>
					
				</li>
					<li class="goods-item">
					<a href=""><img src="img/goods1.jpg.jfif"/></a>
					<div class="goods-message">
						<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
					<span class="price">￥72.80元</span>
					<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社</p>
					<a class="add-cart" href="">加入购物车</a>
					<a class="collect" href="">收藏</a>
					</div>
					
				</li>
					<li class="goods-item">
					<a href=""><img src="img/goods1.jpg.jfif"/></a>
					<div class="goods-message">
						<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
					<span class="price">￥72.80元</span>
					<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社</p>
					<a class="add-cart" href="">加入购物车</a>
					<a class="collect" href="">收藏</a>
					</div>
					
				</li>
					<li class="goods-item">
					<a href=""><img src="img/goods1.jpg.jfif"/></a>
					<div class="goods-message">
						<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
					<span class="price">￥72.80元</span>
					<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社</p>
					<a class="add-cart" href="">加入购物车</a>
					<a class="collect" href="">收藏</a>
					</div>
					
				</li>
			</ul>
		</div>
	</body>
</html>
