<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘米当</title>
		<link rel="stylesheet" type="text/css" href="css/Goodsinfo.css"/>
		<link rel="stylesheet" type="text/css" href="css/demo.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
		<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	</head>
	<style type="text/css">
		.container .page-right{
			margin-top: -490px;

		}
		.page-left{
			margin-bottom: 100px;
		}
	</style>
	<body>
		<div class="top-navbar">
			<ul class="nav">
				<a href="index">首页 <span>|</span> </a>
				<a href="sell"><span>发布闲置</span> <span>|</span> </a>
				<a th:href="profile" id="personal_center" ><span th:text="${session.user!=null?session.user.nickname:'个人中心'}"></span> <span>|</span> </a>

			</ul>
			<div class="cart">
				<a href="Cart" id="cart"><span class="iconfont">&#xe615;</span> 购物车（0）</a>
				<a href="order"> | 订单管理 </a>

			</div>
		</div>
		<div class="container">
			<div class="page-left">
				<div class="img-box">
						<img th:src="${session.good.img}" />
					</div>
			</div>
			<div class="page-right">
				<p class="descrition" th:text="${session.good.description}"></p>
					<span class="price" th:text="'￥'+${session.good.price}+'元'"></span>
					<p class="author" th:text="${session.good.author}"></p>
					<a id="buy" class="buy">立即购买</a><a id="addCar" class="cart-add iconfont">&#xe615;添加到购物车</a>
			</div>
					
				</div>
	</body>
		<script>
			$("#addCar").click(function () {
				var id="[[${session.good.idGood}]]";
				$.ajax({
					url:"/good/Cart",
					data:{goodid:id},
					dataType:"text",
					type:"POST",
					success:function (res) {
						if (res==1){
							alert("添加成功");
						}
						else {
							alert("请先登录");
							setInterval(function () {
								$(location).attr('href', '/login');
							}, 1000)
						}
					},
					error:function () {
						alert("添加失败");
					}

				});
			});
			$("#buy").click(function () {
				var id="[[${session.good.idGood}]]";
				$.ajax({
					url:"/good/Buy",
					data:{goodid:id,price:"[[${session.good.price}]]"},
					dataType:"json",
					type:"POST",
					success:function (res) {
						if(res==3) {
							alert("请先登录");
							setInterval(function () {
								$(location).attr('href', '/login');
							}, 1000)
						}else if(res==2){
							alert("余额不足")
						}else {
							alert("购买成功");
						}
					},
					error:function () {
						alert("服务器响应繁忙");
					}

				});
			});
		</script>
</html>
