<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">

<head>
    <meta charset="utf-8"/>
    <title>淘米当</title>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<div class="top-navbar">
    <ul class="nav">
        <a href="index">首页 <span>|</span> </a>
        <a href="sell"><span>发布闲置</span> <span>|</span> </a>
        <a th:href="profile" id="personal_center" ><span th:text="${session.user!=null?session.user.nickname:'个人中心'}"></span> <span>|</span> </a>

    </ul>
    <div class="cart">
        <a href="Cart" id="cart"><span class="iconfont">&#xe615;</span> 购物车（0）</a>
        <a href="order"> | 订单管理 </a>

    </div>
</div>

<div class="page-nav">
    <div class="pic">
        <a href="">
            <img th:src="${session.user!=null?session.user.headPortrait:'img/logo.png'}"/>
        </a>
    </div>
    <ul class="nav-ul">
        <li class="nav-item"><a id="CTES">四六级</a>
            <div class="pop" id="pop">
                <ul class="down-ul" id="CT">

                </ul>
            </div>
        </li>
        <li class="nav-item"><a id="PC">计算机专区</a>
            <div class="pop">
                <ul class="down-ul" id="pc1">

                </ul>
            </div>
        </li>
        <li class="nav-item"><a id="KZ">考证专区</a>
            <div class="pop">
                <ul class="down-ul" id="kz1">

                </ul>
            </div>
        </li>
        <li class="nav-item"><a id="KG">考公专区</a>
            <div class="pop">
                <ul class="down-ul" id="kg1">

                </ul>
            </div>
        </li>
        <li class="nav-item"><a id="KY">考研专区</a>
            <div class="pop">
                <ul class="down-ul" id="ky1">

                </ul>
            </div>
        </li>
        <li class="nav-item"><a id="WX">文学作品</a>
            <div class="pop">
                <ul class="down-ul" id="wx1">

                </ul>
            </div>
        </li>
        <li class="nav-item"><a id="ZW">中外名著</a>
            <div class="pop">
                <ul class="down-ul" id="zw1">

                </ul>
            </div>
        </li>

    </ul>
    <input type="" name="" id="" value="" class="search-input"/>
    <button class="iconfont" id="search-button">&#xe600;</button>
    <div class="nav-left">


    </div>
    <div class="demo-item1">
        <a th:href="${session.user!=null?'profile':'login'}" class="iconfont demo-icon" id="personal_center_l">&#xe610;<h5>个人中心</h5></a>
    </div>
    <div class="demo-item2">
        <a href="" class="iconfont demo-icon">&#xe61a;<h5>订单管理</h5></a>
    </div>
    <div class="demo-item3">
        <a href="sell" class="iconfont demo-icon">&#xe607;<h5>发布闲置</h5></a>
    </div>

    <div class="nav-left">
        <ul class="nav-left-ul">
            <li><a onclick="Load('CE','type01')">四六级</a> <span class="iconfont">&#xe6cf;</span></li>
            <li><a onclick="Load('PC','type02')">计算机专区</a> <span class="iconfont">&#xe6cf;</span></li>
            <li><a onclick="Load('KZ','type03')">考证专区</a> <span class="iconfont">&#xe6cf;</span></li>
            <li><a onclick="Load('KG','type04')">考公专区</a> <span class="iconfont">&#xe6cf;</span></li>
            <li><a onclick="Load('KY','type05')">考研专区</a> <span class="iconfont">&#xe6cf;</span></li>
            <li><a onclick="Load('WX','type06')">文学作品</a> <span class="iconfont">&#xe6cf;</span></li>
            <li><a onclick="Load('ZW','type07')">中外名著</a> <span class="iconfont">&#xe6cf;</span></li>
            <li><a onclick="Load('SX','type08')">数学</a> <span class="iconfont">&#xe6cf;</span></li>
            <li><a onclick="Load('MU','type09')">音体美</a> <span class="iconfont">&#xe6cf;</span></li>
        </ul>
    </div>
    <div class="poster">
        <img src="img/poster1.jpg.jfif" id="poster"/>
    </div>

</div>
<div class="poster-bottom">
    <div class="icon-left">
        <ul class="icon-left-ul">
            <li>
                <a href="" class="iconfont">&#xe60d;</a>
            </li>
            <li><a href="" class="iconfont">&#xe6bc;</a></li>
            <li><a href="" class="iconfont">&#xe60d;</a></li>
            <li><a href="" class="iconfont">&#xe66b;</a></li>
            <li><a href="" class="iconfont">&#xe606;</a></li>
            <li><a href="" class="iconfont">&#xe601;</a></li>
        </ul>
    </div>
    <div class="bottom-pic">
        <img src="img/poster1.jpg.jfif"/>
        <img src="img/poster2.jpg.jfif"/>
        <img src="img/poster3.jpg.jfif"/>
    </div>
</div>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
    var poster = document.getElementById("poster");
    var num = 1;
    setInterval(function () {
        num++
        if (num == 5) {
            num = 1;
        }
        poster.src = "img/poster" + num + ".jpg.jfif";
    }, 3000)
    $(function () {
        $("#CTES").mouseover(function () {
          // alert("测试");
            $.ajax({
               url:"/good/CE",
               type:"POST",
               dataType:"json",
               data:{ty:'type01'},
               success:function (data) {
                   var res=" ";
                   if (data.length>6){
                       for(var i=0;i<6;i++) {
                           res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                       }
                   }else{
                       for(var i=0;i<data.length;i++) {
                           res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                       }
                   }
                   $("#CT").html(res);
                },
                error:function () {
                    var res="Server is too busy";
                    $("#CT").html(res);
                }

            });
        });
        $("#PC").mouseover(function () {
            // alert("测试");
            $.ajax({
                url:"/good/PC",
                type:"POST",
                dataType:"json",
                data:{ty:'type02'},
                success:function (data) {
                    var res=" ";
                    if (data.length>6){
                        for(var i=0;i<6;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }else{
                        for(var i=0;i<data.length;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }
                    $("#pc1").html(res);
                },
                error:function () {
                    var res="Server is too busy";
                    $("#pc1").html(res);
                }

            });
        });
        $("#KZ").mouseover(function () {
            // alert("测试");
            $.ajax({
                url:"/good/KZ",
                type:"POST",
                dataType:"json",
                data:{ty:'type03'},
                success:function (data) {
                    var res=" ";
                    if (data.length>6){
                        for(var i=0;i<6;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }else{
                        for(var i=0;i<data.length;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }
                    $("#kz1").html(res);
                },
                error:function () {
                    var res="Server is too busy";
                    $("#kz1").html(res);
                }

            });
        });
        $("#KG").mouseover(function () {
            // alert("测试");
            $.ajax({
                url:"/good/KG",
                type:"POST",
                dataType:"json",
                data:{ty:'type04'},
                success:function (data) {
                    var res=" ";
                    if (data.length>6){
                        for(var i=0;i<6;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }else{
                        for(var i=0;i<data.length;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }
                    $("#kg1").html(res);
                },
                error:function () {
                    var res="Server is too busy";
                    $("#kg1").html(res);
                }

            });
        });
        $("#KY").mouseover(function () {
            // alert("测试");
            $.ajax({
                url:"/good/KY",
                type:"POST",
                dataType:"json",
                data:{ty:'type05'},
                success:function (data) {
                    var res=" ";
                    if (data.length>6){
                        for(var i=0;i<6;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }else{
                        for(var i=0;i<data.length;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }
                    $("#ky1").html(res);
                },
                error:function () {
                    var res="Server is too busy";
                    $("#ky1").html(res);
                }

            });
        });
        $("#WX").mouseover(function () {
            // alert("测试");
            $.ajax({
                url:"/good/WX",
                type:"POST",
                dataType:"json",
                data:{ty:'type06'},
                success:function (data) {
                    var res=" ";
                    if (data.length>6){
                        for(var i=0;i<6;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }else{
                        for(var i=0;i<data.length;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }
                    $("#wx1").html(res);
                },
                error:function () {
                    var res="Server is too busy";
                    $("#wx1").html(res);
                }

            });
        });
        $("#ZW").mouseover(function () {
            // alert("测试");
            $.ajax({
                url:"/good/ZW",
                type:"POST",
                dataType:"json",
                data:{ty:'type07'},
                success:function (data) {
                    var res=" ";
                    if (data.length>6){
                        for(var i=0;i<6;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }else{
                        for(var i=0;i<data.length;i++) {
                            res += '<li><a onclick="GoodXq(\''+data[i].idGood+'\')"><img src="' + data[i].img + '"/></a><h4>' + data[i].description + '</h4><span>￥' + data[i].price + '</span></li>';
                        }
                    }
                    $("#zw1").html(res);
                },
                error:function () {
                    var res="Server is too busy";
                    $("#zw1").html(res);
                }

            });
        });
    });
    function Load(addr,ces) {
        $.ajax({
            url: "/good/"+addr,
            dataType: "json",
            data:{ty:ces},
            success: function () {
                //alert("测试");
                $(location).attr('href', '/good');
            },
            error:function () {
                alert("加载失败");
            }
        });
    }
    function GoodXq(id) {
        $.ajax({
            url: "/good/getGood",
            dataType: "json",
            data:{goodid:id},
            success: function () {
                //alert("测试");
                $(location).attr('href', '/Goodsinfo');
            },
            error:function () {
                alert("加载失败");
            }
        });
    }
</script>
</body>

</html>