<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">

	<head>
		<meta charset="utf-8" />
		<title>淘米当</title>
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>

	<body>
		<div class="top-navbar">
			<ul class="nav">
				<a href="index">首页 <span>|</span> </a>
				<a href="">发布闲置 <span>|</span> </a>
				<a href="">个人中心 <span>|</span> </a>
				
			</ul>
			<div class="cart">
				<a href=""  id="cart"><span class="iconfont" >&#xe615;</span>  购物车（0）</a>
				<a href=""> | 订单管理 </a>
				
			</div>
		</div>
	
		<div class="page-nav">
			<div class="pic">
				<a href="">
					<img src="img/logo.png"/>
				</a>
			</div>
			<ul class="nav-ul">
				<li class="nav-item"><a href="">管理</a>
					<div class="pop" >
						<ul class="down-ul">
							<li ><a ><img src="img/kz1.jpg.jfif"/></a><h4>考证释义</h4><span>60.0元</span></li>
							<li><a href=""><img src="img/kz2.jpg.jfif"/></a><h4>史记会注考证</h4><span>695.2元</span><i></i></li>
							<li><a href=""><img src="img/kz3.jpg.jfif"/></a><h4>电工考证一本通</h4><span>47.8元</span><i></i></li>
							<li><a href=""><img src="img/kz4.jpg.jfif"/></a><h4>考证曹雪芹</h4><span>43.5元</span><i></i></li>
							<li><a href=""><img src="img/kz5.jpg.jfif"/></a><h4>学车考证</h4><span>57.6元</span><i></i></li>
							<li><a href=""><img src="img/kz6.jpg.jfif"/></a><h4>律派学家考证</h4><span>188.0元</span><i></i></li>
						</ul>
					</div>
				</li>
				
				<li class="nav-item"><a >四六级</a>
					<div class="pop" id="pop">
						<ul class="down-ul">
							<li ><a ><img src="img/cet1.jpg.jfif"/></a><h4>十年经典CET</h4><span>31.0元</span></li>
							<li><a href=""><img src="img/cet2.jpg.jfif"/></a><h4>新东方大学英语</h4><span>20.0元</span><i></i></li>
							<li><a href=""><img src="img/cet3.jpg.jfif"/></a><h4>新东方四六级</h4><span>17.8元</span><i></i></li>
							<li><a href=""><img src="img/cet4.jpg.jfif"/></a><h4>新东方新题型</h4><span>20.2元</span><i></i></li>
							<li><a href=""><img src="img/cet5.jpg.jfif"/></a><h4>经典晨读365</h4><span>21.7元</span><i></i></li>
							<li><a href=""><img src="img/cet6.jpg.jfif"/></a><h4>新东方考试词典</h4><span>57.3元</span><i></i></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a href="">计算机专区</a>
					<div class="pop" >
						<ul class="down-ul">
							<li ><a ><img src="img/kz1.jpg.jfif"/></a><h4>考证释义</h4><span>60.0元</span></li>
							<li><a href=""><img src="img/kz2.jpg.jfif"/></a><h4>史记会注考证</h4><span>695.2元</span><i></i></li>
							<li><a href=""><img src="img/kz3.jpg.jfif"/></a><h4>电工考证一本通</h4><span>47.8元</span><i></i></li>
							<li><a href=""><img src="img/kz4.jpg.jfif"/></a><h4>考证曹雪芹</h4><span>43.5元</span><i></i></li>
							<li><a href=""><img src="img/kz5.jpg.jfif"/></a><h4>学车考证</h4><span>57.6元</span><i></i></li>
							<li><a href=""><img src="img/kz6.jpg.jfif"/></a><h4>律派学家考证</h4><span>188.0元</span><i></i></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a href="">考证专区</a>
					<div class="pop" >
						<ul class="down-ul">
							<li ><a ><img src="img/kz1.jpg.jfif"/></a><h4>考证释义</h4><span>60.0元</span></li>
							<li><a href=""><img src="img/kz2.jpg.jfif"/></a><h4>史记会注考证</h4><span>695.2元</span><i></i></li>
							<li><a href=""><img src="img/kz3.jpg.jfif"/></a><h4>电工考证一本通</h4><span>47.8元</span><i></i></li>
							<li><a href=""><img src="img/kz4.jpg.jfif"/></a><h4>考证曹雪芹</h4><span>43.5元</span><i></i></li>
							<li><a href=""><img src="img/kz5.jpg.jfif"/></a><h4>学车考证</h4><span>57.6元</span><i></i></li>
							<li><a href=""><img src="img/kz6.jpg.jfif"/></a><h4>律派学家考证</h4><span>188.0元</span><i></i></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a href="">考公专区</a>
					<div class="pop" >
						<ul class="down-ul">
							<li ><a ><img src="img/kg1.jpg.jfif"/></a><h4>公务员试题库</h4><span>299.0元</span></li>
							<li><a href=""><img src="img/kg2.jpg.jfif"/></a><h4>公务员面试用书</h4><span>28.2元</span><i></i></li>
							<li><a href=""><img src="img/kg3.jfif"/></a><h4>公务员考试真题</h4><span>29.0元</span><i></i></li>
							<li><a href=""><img src="img/kg4.jfif"/></a><h4>粉笔公考</h4><span>9.0元</span><i></i></li>
							<li><a href=""><img src="img/kg5.jpg.jfif"/></a><h4>粉笔公考2020</h4><span>75.0元</span><i></i></li>
							<li><a href=""><img src="img/kg6.jpg.jfif"/></a><h4>省公考2019</h4><span>87.0元</span><i></i></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a href="">考研专区</a>
					<div class="pop" >
						<ul class="down-ul">
							<li ><a ><img src="img/ky1.jpg.jfif"/></a><h4>考研英语</h4><span>15.3元</span></li>
							<li><a href=""><img src="img/ky2.jpg.jfif"/></a><h4>考研英语作文大全</h4><span>22.0元</span><i></i></li>
							<li><a href=""><img src="img/ky3.jpg.jfif"/></a><h4>英语考研一2021</h4><span>39.5元</span><i></i></li>
							<li><a href=""><img src="img/ky4.jpg.jfif"/></a><h4>考研数学概念</h4><span>7.2元</span><i></i></li>
							<li><a href=""><img src="img/ky5.jpg.jfif"/></a><h4>考研英语词汇</h4><span>63.1元</span><i></i></li>
							<li><a href=""><img src="img/ky6.jpg.jfif"/></a><h4>新东方 20天</h4><span>8.3元</span><i></i></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a href="">文学作品</a>
					<div class="pop" >
						<ul class="down-ul">
							<li ><a ><img src="img/wx1.jfif"/></a><h4>朗读者青少版</h4><span>37.5元</span></li>
							<li><a href=""><img src="img/wx2.jfif"/></a><h4>诺贝尔奖文学</h4><span>17.9元</span><i></i></li>
							<li><a href=""><img src="img/wx3.jpg.jfif"/></a><h4>文学课</h4><span>19.9元</span><i></i></li>
							<li><a href=""><img src="img/wx4.jpg.jfif"/></a><h4>老舍儿童文学</h4><span>20.7元</span><i></i></li>
							<li><a href=""><img src="img/wx5.jpg.jfif"/></a><h4>世界文学</h4><span>7.5元</span><i></i></li>
							<li><a href=""><img src="img/wx6.jpg.jfif"/></a><h4>文学回忆录</h4><span>59.7元</span><i></i></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a href="">中外名著</a>
					<div class="pop" >
						<ul class="down-ul">
							<li ><a ><img src="img/zw1.jpg.jfif"/></a><h4>中外文学精品</h4><span>18.2元</span></li>
							<li><a href=""><img src="img/zw2.jpg.jfif"/></a><h4>中外文学精品廊</h4><span>19.4元</span><i></i></li>
							<li><a href=""><img src="img/zw3.jpg.jfif"/></a><h4>中外文学精品廊</h4><span>29.8元</span><i></i></li>
							<li><a href=""><img src="img/zw5.jpg.jfif"/></a><h4>中外文学精品廊</h4><span>2999元</span><i></i></li>
							
							<li><a href=""><img src="img/zw4.jpg.jfif"/></a><h4>中外文学精品廊</h4><span>20.2元</span><i></i></li>
							<li><a href=""><img src="img/zw6.jpg.jfif"/></a><h4>中外文学精品廊</h4><span>56.8元</span><i></i></li>
						</ul>
					</div>
				</li>
				
			</ul>
			<input type="" name="" id="" value=""  class="search-input"/><button class="iconfont" id="search-button">&#xe600;</button>
			<div class="nav-left">
			
				
			</div>
			<div class="demo-item1">
					<a href="" class="iconfont demo-icon">&#xe610;<h5>个人中心</h5></a>
			</div>
			<div class="demo-item2">
					<a href="" class="iconfont demo-icon" >&#xe61a;<h5>订单管理</h5></a>
			</div>
			<div class="demo-item3">
					<a href="" class="iconfont demo-icon" >&#xe607;<h5>发布闲置</h5></a>
			</div>
			
			<div class="nav-left">
				<ul class="nav-left-ul">
					<li><a href="">管理</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">四六级</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">计算机专区</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">考证专区</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">考公专区</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">考研专区</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">文学作品</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">中外名著</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">数学</a> <span class="iconfont">&#xe6cf;</span></li>
					<li><a href="">音体美</a> <span class="iconfont">&#xe6cf;</span></li>
				</ul>
			</div>
			<div class="poster">
				<img src="img/poster1.jpg.jfif" id="poster"/>
			</div>
		
		</div>
			<div class="poster-bottom">
				<div class="icon-left">
					<ul class="icon-left-ul">
						<li>
							<a href="" class="iconfont">&#xe60d;</a>
						</li>
						<li><a href="" class="iconfont">&#xe6bc;</a></li>
						<li><a href="" class="iconfont">&#xe60d;</a></li>
						<li><a href="" class="iconfont">&#xe66b;</a></li>
						<li><a href="" class="iconfont">&#xe606;</a></li>
						<li><a href="" class="iconfont">&#xe601;</a></li>
					</ul>
				</div>
			<div class="bottom-pic">
				<img src="img/poster1.jpg.jfif"/>
				<img src="img/poster2.jpg.jfif"/>
				<img src="img/poster3.jpg.jfif"/>
			</div>
			</div>
		
		
		
		
<script type="text/javascript">
			var poster =document.getElementById("poster");
			var num = 1;
			setInterval (function(){
				num++
				if (num==5){
					num=1;
				}
				poster.src="img/poster" + num +".jpg.jfif";
				console.log(num)
			},3000)
			
		</script>
		</body>

</html>