<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/Login.css"/>
</head>
<body>
<div class="container">
    <img class="bg" src="img/lg-bg.jpg.jfif" th:src="@{img/lg-bg.jpg.jfif}"/>


    <div class="login">
        <form action="" method="post" id="form">
            <h4>密码登录</h4>
            <input class="login-user" type="username" name="name"/><br>
            <input class="login-pwd" type="password" name="pwd"/><br>
            <input class="login-lg" type="button" value="登录" id="login"/>
            <button class="register"><a href="/register">注册</a></button>
        </form>
        <button class="register" hidden="hidden"><a href="/index"><span id="index">首页</span></a></button>
    </div>
</div>
</body>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="layui/layui.js"></script>
<script type="text/javascript">
    $("#login").click(function () {
        layui.use(["layer"], function () {
            var layer = layui.layer;
            $.ajax({
                url: 'http://localhost:8080/login_go',
                type: 'POST',
                dataType: 'json',
                data: $("#form").serialize(),
                success: function (res) {
                    layer.msg('欢迎' + res.nickname);
                    //alert('欢迎'+res.nickname);
                    setInterval(function () {
                        $(location).attr('href', '/index');
                    }, 1000)

                },
                error: function () {
                    layer.msg("网络异常！");
                }
            });
        });
    })


</script>
</html>
