<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘米当</title>
		<link rel="stylesheet" type="text/css" href="css/demo.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="css/post.css"/>
	</head>
	<body>
		<div class="top-navbar">
			<ul class="nav">
				<a href="index">首页 <span>|</span> </a>
				<a href="sell"><span>发布闲置</span> <span>|</span> </a>
				<a th:href="profile" id="personal_center" ><span th:text="${session.user!=null?session.user.nickname:'个人中心'}"></span> <span>|</span> </a>

			</ul>
			<div class="cart">
				<a href="Cart" id="cart"><span class="iconfont">&#xe615;</span> 购物车（0）</a>
				<a href="order"> | 订单管理 </a>
				<a href="post"> | 物流管理 </a>
			</div>
		</div>
			<div class="container">
					<div class="nav-left">
						<ul>
							<li id="box1">我买到的</li>
							<li id="box2">我卖出的</li>
						</ul>
					</div>
					<div class="nav-right">
						<div class="buy" id="buy">
							<ul class="buy-ul">
							<li id="box3">待发货</li>
							<li id="box4">待收货</li>
						</ul>
						<div class="buy-box" id="buy-box">
							<ul>
								<li>
									<div class="goods-img">
										<img src="img/kg3.jfif"/>
									</div>
									<div class="goods-info">
										<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
										<span id="" class="price">
											￥12.00元
										</span>
										<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社
立即购买</p>
									</div>
								</li>
								<li>
									<div class="goods-img">
										<img src="img/kg3.jfif"/>
									</div>
									<div class="goods-info">
										<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
										<span id="" class="price">
											￥12.00元
										</span>
										<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社
立即购买</p>
									</div>
								</li>
							</ul>
						</div>
						<!--我买到的 已收到的-->
							<div class="buy-box1" id="buy-box1">
							<ul>
								<li>
									<div class="goods-img">
										<img src="img/cet4.jpg.jfif"/>
									</div>
									<div class="goods-info">
										<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
										<span id="" class="price">
											￥12.00元
										</span>
										<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社
立即购买</p>
									</div>
								</li>
								<li>
									<div class="goods-img">
										<img src="img/cet4.jpg.jfif"/>
									</div>
									<div class="goods-info">
										<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
										<span id="" class="price">
											￥12.00元
										</span>
										<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社
立即购买</p>
									</div>
								</li>
							</ul>
						</div>
						</div>
						<div class="sell" id="sell">
							<ul class="sell-ul">
							<li id="box5">待发货</li>
							<li id="box6">待收货</li>
						</ul>
						<div class="sell-box" id="sell-box">
							<ul>
								<li>
									<div class="goods-img">
										<img src="img/kg4.jfif"/>
									</div>
									<div class="goods-info">
										<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
										<span id="" class="price">
											￥12.00元
										</span>
										<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社
立即购买</p>
									</div>
								</li>
								<li>
									<div class="goods-img">
										<img src="img/kg4.jfif"/>
									</div>
									<div class="goods-info">
										<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
										<span id="" class="price">
											￥12.00元
										</span>
										<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社
立即购买</p>
									</div>
								</li>
							</ul>
						</div>
						
						<!--box1表示已收货-->
						<div class="sell-box1" id="sell-box1">
							<ul>
								<li>
									<div class="goods-img">
										<img src="img/wx3.jpg.jfif"/>
									</div>
									<div class="goods-info">
										<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
										<span id="" class="price">
											￥12.00元
										</span>
										<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社
立即购买</p>
									</div>
								</li>
								<li>
									<div class="goods-img">
										<img src="img/wx3.jpg.jfif"/>
									</div>
									<div class="goods-info">
										<p class="descrition">中国古典文学四大名著（新课标） 中小学新课标必读，四大名著，经典原著权威改编，无障碍轻松阅读，影响学生</p>
										<span id="" class="price">
											￥12.00元
										</span>
										<p class="author">（明) 罗贯中,(明)施耐庵, (明) 罗贯中（清）曹雪芹 著;富强 改编 /2016-07-20 /安徽教育出版社
立即购买</p>
									</div>
								</li>
							</ul>
						</div>
						
						</div>
						
					</div>
				</div>
				<script type="text/javascript">
					onload =function(){
						document.getElementById('box1').onclick =function(){
							var box1 =document.getElementById('box1');
							var box2 =document.getElementById('box2');
							var buy = document.getElementById('buy');
							var sell = document.getElementById('sell');
							box1.style.color = 'orange'
							box2.style.color= 'black'
							buy.style.display ='block'
							sell.style.display = 'none'
						}
						document.getElementById('box2').onclick =function(){
							var box1 =document.getElementById('box1');
							var box2 =document.getElementById('box2');
							var buy = document.getElementById('buy');
							var sell = document.getElementById('sell');
							box2.style.color = 'orange'
							box1.style.color= 'black'
							buy.style.display ='none'
							sell.style.display = 'block'
						}
						document.getElementById('box3').onclick =function(){
							var box3 =document.getElementById('box3');
							var box4 =document.getElementById('box4');
							var buybox = document.getElementById('buy-box');
							var buybox1 = document.getElementById('buy-box1');
							box3.style.color = 'orange'
							box4.style.color= 'black'
							buybox.style.display ='block'
							buybox1.style.display = 'none'
						}
						document.getElementById('box4').onclick =function(){
							var box3 =document.getElementById('box3');
							var box4 =document.getElementById('box4');
							var buybox = document.getElementById('buy-box');
							var buybox1 = document.getElementById('buy-box1');
							box3.style.color = 'black'
							box4.style.color= 'orange'
							buybox.style.display ='none'
							buybox1.style.display = 'block'
						}
						document.getElementById('box5').onclick =function(){
							var box5 =document.getElementById('box5');
							var box6 =document.getElementById('box6');
							var sellbox = document.getElementById('sell-box');
							var sellbox1 = document.getElementById('sell-box1');
							box5.style.color = 'orange'
							box6.style.color= 'black'
							sellbox.style.display ='block'
							sellbox1.style.display = 'none'
						}
						document.getElementById('box6').onclick =function(){
							var box5 =document.getElementById('box5');
							var box6 =document.getElementById('box6');
							var sellbox = document.getElementById('sell-box');
							var sellbox1 = document.getElementById('sell-box1');
							box5.style.color = 'black'
							box6.style.color= 'orange'
							sellbox.style.display ='none'
							sellbox1.style.display = 'block'
						}
					}
				</script>
	</body>
</html>
