<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
	<head>
		<meta charset="UTF-8">
		<title>淘米当</title>
		<link rel="stylesheet" type="text/css" href="css/demo.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="css/profile.css"/>
		<link rel="stylesheet" type="text/css" href="layui/css/layui.css">
		<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="layui/layui.js"></script>
	</head>
	<div style="display: none" id="demo2">
		<form class="layui-form" id="form" style="margin-top: 30px">
			<div class="layui-form-item">
				<label class="layui-form-label">地址</label>
				<div class="layui-input-block">
					<input type="text" name="addr" id="adr" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">电话</label>
				<div class="layui-input-block">
					<input type="number" name="iphone" id="iph" autocomplete="off" class="layui-input">
				</div>
			</div>
			<input type="hidden" name="idaddr"id="idaddr" autocomplete="off" class="layui-input">
		</form>
	</div>
	<body>
		<div class="top-navbar">
			<ul class="nav">
				<a href="index">首页 <span>|</span> </a>
				<a href="sell">发布闲置 <span>|</span> </a>
				<a href="profile"><span th:text="${session.user!=null?session.user.nickname:'个人中心'}"></span><span>|</span></a>
				
			</ul>
			<div class="cart">
				<a href="Cart.html"  id="cart"><span class="iconfont" >&#xe615;</span>  购物车（0）</a>
				<a href="order.html"> | 订单管理 </a>
				<a href="post.html"> | 物流管理 </a>
				
				
			</div>
		</div>
		<div class="container">
					<div class="nav-left">
						<ul class="nav-left-ul">
							<li class="item" id="box1">个人资料</li>
							<li class="item" id="box2">收货地址管理</li>
							<li class="item" id="box3">账号充值</li>
							<li class="item" id="box4">修改密码</li>
						</ul>
					</div>
					<div class="nav-right">
						<div class="profile" id="pro">
							<div class="nav-right-head">
							<span class="title">基本资料</span>
							<form action="" method="post">
								<div class="head-img">
									当前头像:<br>
									<label for="file">
										<input class="file" type="file" multiple=""  id="file" onchange="Read(this)"  /><br>
									<img id="selectImg" th:src="${session.user.headPortrait}"/>
										<span class="head-btn">更换头像</span>
									</label>
								</div>
								用户名：<input class="user" type="text" name="" id=" " th:value="${session.user.nickname}" /><br>
								邮箱：<input class="email" type="email" th:value="${session.user.email}"><br>
								性别：<input class="sex" type="radio" name="sex" id="sex" value="" />
								<input id="zql" type="hidden" th:value="${session.user.sex}">
								<label for="sex">
								 男<input class="sex1" type="radio" name="sex" id="sex1" value="" checked="" /> 女<br>
								 </label>
								<input class="sub" type="submit" value="修改"/>
							</form>
						</div>
					</div>
						<div class="address" id="address">
							<div class="nav-right-head">
								<span class="title">地址管理</span>
							</div>
							<table class="layui-hide" id="ListAdd" lay-filter="test">
								<script type="text/html" id="barDemo">
									<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
									<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
								</script>
							</table>
							<form id="form2" class="layui-form">
								地址信息：<input class="info"  name="DZ" type="text"><br>
								手机：<input class="tel" type="tel" name="tel" /><br>
							</form>
							<button class="sub" id="Tj" />提交</button>
						</div>
						<div class="cash" id="cash">
							<form action="" method="post">
							<div class="nav-right-head">
								<span class="title">账户充值</span>
							</div>
								请输入金额：<input class="addcash" type="number" name=""  value="" />
								<input class="sub" type="submit" value="充值"/>
							</form>
						</div>
						<div class="pwd-change" id="pwd-change">
							<div class="nav-right-head">
								<span class="title">修改密码</span>
							</div>
							<div class="pwd">
								<form id="form3">
									输入密码：<input class="oldpwd" type="password" name="pwd"  value="" /><br>
									新密码：<input class="newpwd" type="password" name="newpwd"  value="" /><br>

								</form>
								<button class="sub" id="ChaP" type="submit">提交</button>
							</div>
						</div>						
					</div>
						
				</div>
		<script type="text/javascript">
			layui.use(['table','layer'], function(){
				var table = layui.table
				,layer=layui.layer
				 var $=layui.jquery
				document.getElementById('box2').onclick = function(){
					table.render({
						elem: '#ListAdd'
						,url:'/Addr/get_addr/'
						,parseData: function(res){ //res 即为原始返回的数据
							return {
								"code": res.status, //解析接口状态
								"msg": res.message, //解析提示文本
								"count": res.total, //解析数据长度
								"data": res.data //解析数据列表
							};
						}
						,cols: [
								[ //表头

							{field: 'address', title: '地址'}
							,{field: 'phone', title: '手机'}
							,{toolbar: '#barDemo'}
							]
						]
					});
					table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
								var data = obj.data //获得当前行数据
										,layEvent = obj.event; //获得 lay-event 对应的值
								if(layEvent === 'del'){
									layer.confirm('真的删除行么', function(index){

										$.ajax({
											url:'/Addr/Del',
											type: 'POST',
											dataType: 'text',
											data: {id:data.idAddress},
											success:function (res) {
												layer.msg("删除成功！");
												obj.del(); //删除对应行（tr）的DOM结构
												layer.close(index);
											},
											error:function () {
												layer.msg("删除失败，请重试！");
											}
										});
									});
								} else if(layEvent === 'edit'){
									$("#adr").val(data.address);
									$("#iph").val(data.phone);
									$("#idaddr").val(data.idAddress);
									layer.open({
										type: 1,
										area:'500px',
										content:$('#demo2'),
										skin:'layui-layer-lan',
										btn:['修改','取消'],
										yes:function(index, layero){
											$.ajax({
												url:'/Addr/Update',
												type: 'POST',
												dataType: 'text',
												data: $("#form").serialize(),
												success:function (res) {
													layer.msg("修改成功！");
													obj.update({
														address: $("#adr").val(),
														phone: $("#iph").val()
													});
													layer.close(index);
												},
												error:function () {
													layer.msg("修改失败，请重试！");
												}
											});

										},
										btn2:function () {
											return true;
										}
									});

						}
					});
					var pro = document.getElementById('pro');
					var address = document.getElementById('address');
					var cash = document.getElementById('cash');
					var pwd = document.getElementById('pwd-change');
					pro.style.display='none';
					address.style.display='block';
					cash.style.display='none';
					pwd.style.display='none';
				}
				$("#Tj").click(function (){
					$.ajax({
						url:'/Addr/Insert',
						type: 'POST',
						dataType: 'text',
						data: $("#form2").serialize(),
						success:function (res) {
							layer.msg("添加成功！");
							$("#box2").click();
						},
						error:function () {
							layer.msg("添加失败，请重试！");
						}
					});
				});
				$("#ChaP").click(function () {
					$.ajax({
						url:'/Addr/ChangePwd',
						type: 'POST',
						dataType: 'text',
						data: $("#form3").serialize(),
						success:function (res) {
							if(res==0){
								layer.msg("旧密码错误!")
							}else {
								layer.msg("修改成功，请重新登录！")
								setInterval(function () {
									$(location).attr('href', '/login');
								},1000)
							}
						},
						error:function () {
							layer.msg("修改失败！");
						}
					});
				});

			});


	    function Read(obj) {
        	var file = obj.files[0];
        	var reader = new FileReader();
       	 	reader.readAsDataURL(file);
        	reader.onload = function (e) {
            var img = document.getElementById("selectImg");
            img.src = e.target.result;   

            
        };
    }
	  onload =function(){
		  var sex=document.getElementById("zql").value;
		  var inp=document.getElementById("sex");
		  var inp2=document.getElementById("sex1");
		  if(sex==1)
		  {
			  inp.setAttribute("checked"," ");
			  inp2.removeAttribute("checked");
		  }else {
			  inp2.setAttribute("checked"," ");
			  inp.removeAttribute("checked");
		  }
	  	document.getElementById('box1').onclick = function(){
	  		var pro = document.getElementById('pro');
	  		var address = document.getElementById('address');
	  		var cash = document.getElementById('cash');
	  		var pwd = document.getElementById('pwd-change');
	  		pro.style.display='block';
	  		address.style.display='none';
	  		cash.style.display='none';
	  		pwd.style.display='none';

	  	}

	  	document.getElementById('box3').onclick = function(){
	  		var pro = document.getElementById('pro');
	  		var address = document.getElementById('address');
	  		var cash = document.getElementById('cash');
	  		var pwd = document.getElementById('pwd-change');
	  		pro.style.display='none';
	  		address.style.display='none';
	  		cash.style.display='block';
	  		pwd.style.display='none';
	  	}
	  	document.getElementById('box4').onclick = function(){
	  		var pro = document.getElementById('pro');
	  		var address = document.getElementById('address');
	  		var cash = document.getElementById('cash');
	  		var pwd = document.getElementById('pwd-change');
	  		pro.style.display='none';
	  		address.style.display='none';
	  		cash.style.display='none';
	  		pwd.style.display='block';
	  	}
	  }

			</script>
	</body>
</html>
