<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘米当</title>
		<link rel="stylesheet" type="text/css" href="css/register .css"/>
	</head>
	<body>
		<div class="container">
			<div class="head">
				<span>用户注册</span>
			</div>
			<div class="body">
				<form action="" method="post">
					<div class="head-img">

									<label for="file">
										<input class="file" type="file" multiple=""  id="file" onchange="Read(this)"  /><br>
									<img id="selectImg" src="img/logo.png"/>
										<span class="head-btn">上传头像</span>
									</label>
								</div>
								用户名：<input class="user" type="text" name="" id="" value="" /><br>
								邮箱：<input class="email" type="email"><br>
								密码：<input class="pwd" type="password"><br>
								性别：<input class="sex" type="radio" name="sex" id="sex" value="sex"  checked="checked"/>
								<label for="sex">
								 男<input class="sex1" type="radio" name="sex" id="sex" value="sex" /> 女<br>
								 </label>
					<input class="sub" type="submit" value="提交"/>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			function Read(obj) {
        var file = obj.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {    
            var img = document.getElementById("selectImg");
            img.src = e.target.result;   

            
        };
    }
		</script>
	</body>
</html>
