<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <meta charset="UTF-8">
    <title>淘米当</title>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/sell.css"/>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body>
<div class="top-navbar">
    <ul class="nav">
        <a href="index">首页 <span>|</span> </a>
        <a href="sell">发布闲置 <span>|</span> </a>
        <a th:href="profile" id="personal_center"><span
                th:text="${session.user!=null?session.user.nickname:'个人中心'}"></span> <span>|</span> </a>

    </ul>
    <div class="cart">
        <a href="Cart" id="cart"><span class="iconfont">&#xe615;</span> 购物车（0）</a>
        <a href="order"> | 订单管理 </a>

    </div>
</div>
<div class="head-bg-box">
    <img class="head-bg" src="img/test2.jfif"/>
</div>
<div class="container">
    <div class="sell-right">
        <img class="poster" src="img/test3.jpg.jfif"/>
    </div>
    <div class="sell-left">
        <div class="sell-left-head">
            添加商品
        </div>
        <form id="insert_good_form">
            <label class="sell-pic">

                <input style="background-color: pink" class="sell-ipt" id="upload_img" type="button">点击添加书籍照片</input>

                <img id="selectImg" src="img/test.jpg"/>
                <p id="demoText"></p>

            </label>
            <a hidden="hidden"><input type="text" name="img" lay-verify="title" autocomplete="off" placeholder=""
                                      class="layui-input" id="sc"></a>
            <span class="p-des">请输入描述：</span><input class="sell-description" type="text" name="description"
                                                    value=""/><br>
            <span class="p-des">请选择类型：</span>
            <div class="layui-input-inline">
                <select name="type" class="sell-author" id="good_type">
                    <option value="" selected="">请选择类型</option>
                </select>
            </div><br>
            <span class="p-ath">请输入作者：</span><input class="sell-author" type="text" name="author" value=""/><br>
            <span class="p-price">请输入价格：</span><input class="price" type="number" name="price" value=""/><br>
            <input class="sell-submit" type="button" value="提交" id="submit"/><br>

        </form>
    </div>

</div>
</body>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="js/sell.js"></script>
</html>
