<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <meta charset="UTF-8">
    <title>淘米当</title>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/sell.css"/>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body>
<div class="top-navbar">
    <ul class="nav">
        <a href="index">首页 <span>|</span> </a>
        <a href="sell">发布闲置 <span>|</span> </a>
        <a th:href="profile" id="personal_center"><span
                th:text="${session.user!=null?session.user.nickname:'个人中心'}"></span> <span>|</span> </a>

    </ul>
    <div class="cart">
        <a href="" id="cart"><span class="iconfont">&#xe615;</span> 购物车（0）</a>
        <a href=""> | 订单管理 </a>

    </div>
</div>
<div class="head-bg-box">
    <img class="head-bg" src="img/test2.jfif"/>
</div>
<div class="container">
    <div class="sell-right">
        <img class="poster" src="img/test3.jpg.jfif"/>
    </div>
    <div class="sell-left">
        <div class="sell-left-head">
            添加商品
        </div>
        <form action="" method="post">
            <label  class="sell-pic">

                <button style="background-color: pink" class="sell-ipt layui-btn" type="button" name="" id="upload_img" value="点击添加书籍照片"/>

                <img id="selectImg" src="img/test.jpg"/>
                <p id="demoText"></p>

            </label><br>
            <input type="text" name="img" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" id="sc">
            <span class="p-des">请输入描述：</span><input class="sell-description" type="text" name="description" value=""/><br>
            <span class="p-ath">请输入作者：</span><input class="sell-author" type="text" name="author" value=""/><br>
            <span class="p-price">请输入价格：</span><input class="price" type="number" name="price" value=""/><br>
            <input class="sell-submit" type="submit" value="提交"/><br>

        </form>
    </div>

</div>
</body>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['layer', 'upload'], function () {
        var layer = layui.layer //弹层
            ,
            upload = layui.upload;//上传图片

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#upload_img'
            , url: 'http://localhost:8080/good/upload' //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#selectImg').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                if (res.status == 0) {
                    //上传成功
                    $("#sc").val(res.message);
                    return  layer.msg('上传成功');
                }else {
                    return layer.msg('上传失败');
                }

            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    });
</script>
</html>
