<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mistroe.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.example.mistroe.pojo.Address">
    <id column="id_address" jdbcType="VARCHAR" property="idAddress" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from address
    where id_address = #{idAddress,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.mistroe.pojo.Address">
    insert into address (id_address, user_id, address, 
      phone)
    values (#{idAddress,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.mistroe.pojo.Address">
    update address
    set user_id = #{userId,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where id_address = #{idAddress,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_address, user_id, address, phone
    from address
    where id_address = #{idAddress,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_address, user_id, address, phone
    from address
  </select>
  <select id="getAddr" resultMap="BaseResultMap">
    select id_address, user_id, address, phone from address where user_id = #{name}
  </select>
  <update id="UpAddr" parameterType="java.lang.String">
    update address
    set address = #{addr,jdbcType=VARCHAR},
      phone = #{iphone,jdbcType=VARCHAR}
    where id_address = #{idaddr,jdbcType=VARCHAR}
  </update>
  <insert id="InsertAddr" parameterType="java.lang.String">
    insert into address (id_address, user_id, address,
      phone)
    values (#{idaddress,jdbcType=VARCHAR}, #{idUser,jdbcType=VARCHAR}, #{dz,jdbcType=VARCHAR},
      #{tel,jdbcType=VARCHAR})
  </insert>
  <delete id="Del" parameterType="java.lang.String">
    delete from address
    where id_address = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>