<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mistroe.mapper.BuyMapper">
  <resultMap id="BaseResultMap" type="com.example.mistroe.pojo.Buy">
    <id column="id_buy" jdbcType="VARCHAR" property="idBuy" />
    <result column="is_buy" jdbcType="INTEGER" property="isBuy" />
    <result column="good_id" jdbcType="VARCHAR" property="goodId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from buy
    where id_buy = #{idBuy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.mistroe.pojo.Buy">
    insert into buy (id_buy, is_buy, good_id, 
      user_id)
    values (#{idBuy,jdbcType=VARCHAR}, #{isBuy,jdbcType=INTEGER}, #{goodId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.mistroe.pojo.Buy">
    update buy
    set is_buy = #{isBuy,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id_buy = #{idBuy,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_buy, is_buy, good_id, user_id
    from buy
    where id_buy = #{idBuy,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_buy, is_buy, good_id, user_id
    from buy
  </select>
  <insert id="BuyGood" parameterType="com.example.mistroe.pojo.Buy">
    insert into buy (id_buy, is_buy, good_id,
      user_id)
    values (#{idBuy,jdbcType=VARCHAR}, #{isBuy,jdbcType=INTEGER}, #{goodId,jdbcType=VARCHAR},
      #{userId,jdbcType=VARCHAR})
  </insert>
  <delete id="Canl" parameterType="java.lang.String">
    delete from buy
    where good_id = #{goodid,jdbcType=VARCHAR}
  </delete>
  <update id="Ok" parameterType="java.lang.String">
    update buy
    set is_buy = 1
    where good_id = #{goodid,jdbcType=VARCHAR}
  </update>
</mapper>