<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mistroe.mapper.GoodMapper">
  <resultMap id="BaseResultMap" type="com.example.mistroe.pojo.Good">
    <id column="id_good" jdbcType="VARCHAR" property="idGood" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from good
    where id_good = #{idGood,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.mistroe.pojo.Good">
    insert into good (id_good, img, description, 
      price, author, type)
    values (#{idGood,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{author,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.mistroe.pojo.Good">
    update good
    set img = #{img,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      author = #{author,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id_good = #{idGood,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_good, img, description, price, author, type
    from good
    where id_good = #{idGood,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_good, img, description, price, author, type
    from good
  </select>
  <select id="gatGoodByType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_good, img, description, price, author
    from good where type =#{ty,jdbcType=VARCHAR}
  </select>
  <select id="selectGoodByKey" resultMap="BaseResultMap">
    select id_good, img, description, price, author, type
    from good
    where description like #{key}
    or author like #{key}
  </select>
  <select id="getGoodById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_good, img, description, price, author,type
    from good where id_good =#{goodid,jdbcType=VARCHAR}
  </select>
  <select id="getCartGood" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from good,cart where cart.id_user=#{idUser,jdbcType=VARCHAR} and cart.id_good=good.id_good
  </select>
  <select id="GetSave" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from good,save where save.id_user=#{userid,jdbcType=VARCHAR} and save.id_good=good.id_good
  </select>
  <select id="GetBuy" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from good,buy,sell where buy.user_id=#{idUser,jdbcType=VARCHAR} and buy.good_id=sell.good_id and sell.is_sell=0 and sell.good_id=good.id_good
   </select>
  <select id="GetMyBuy" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from good,buy,sell where buy.good_id=sell.good_id and sell.is_sell=0 and sell.user_id=#{userid,jdbcType=VARCHAR} and sell.good_id=good.id_good
   </select>
  <select id="SellWait" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from good,sell,buy where sell.is_sell=1 and sell.user_id=#{userid,jdbcType=VARCHAR} and sell.good_id=buy.good_id and buy.is_buy=0 and buy.good_id=good.id_good
   </select>
  <select id="MyOk" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from good,buy,sell where sell.is_sell=1 and sell.good_id=buy.good_id and buy.is_buy=0 and buy.user_id=#{userid,jdbcType=VARCHAR} and buy.good_id=good.id_good
   </select>
  <select id="GetBuys" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from good,buy where buy.is_buy=1 and buy.user_id=#{userid,jdbcType=VARCHAR} and buy.good_id=good.id_good
   </select>
  <select id="Mysell" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from sell,good,buy where sell.user_id=#{userid,jdbcType=VARCHAR} and sell.good_id=buy.good_id and buy.is_buy=1 and buy.good_id=good.id_good
   </select>
  <select id="Mypub" parameterType="java.lang.String" resultMap="BaseResultMap">
    select good.id_good, img, description, price, author,type
    from sell,good where sell.user_id=#{userid,jdbcType=VARCHAR} and sell.good_id=good.id_good
</select>
</mapper>