<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mistroe.mapper.GoodMapper">
  <resultMap id="BaseResultMap" type="com.example.mistroe.pojo.Good">
    <id column="id_good" jdbcType="VARCHAR" property="idGood" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from good
    where id_good = #{idGood,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.mistroe.pojo.Good">
    insert into good (id_good, img, description, 
      price, author, type)
    values (#{idGood,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{author,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.mistroe.pojo.Good">
    update good
    set img = #{img,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      author = #{author,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id_good = #{idGood,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_good, img, description, price, author, type
    from good
    where id_good = #{idGood,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_good, img, description, price, author, type
    from good
  </select>
  <select id="gatGoodByType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id_good, img, description, price, author
    from good where type =#{ty,jdbcType=VARCHAR}
  </select>
  <select id="selectGoodByKey" resultMap="BaseResultMap">
    select id_good, img, description, price, author, type
    from good
    where description like #{key}
    or author like #{key}
  </select>
</mapper>